@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #da2576;
  --color-primary-foreground: #fdf2f8;
  --color-secondary: #505058;
  --color-secondary-foreground: #fafafa;
  --color-accent: #fff0f1;
  --color-accent-foreground: #f43e60;
  --color-muted: #18181b;
  --color-muted-foreground: #18181b;
  --color-background: #f2f2f3;
  --color-foreground: #18181b;
  --color-card: #fafafa;
  --color-card-foreground: #18181b;
  --color-border: #d2d2d5;
}